body{
  background-color: white;
  color:purple;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.space{
  text-align: right;
}

hr{
    color:grey;
}
#submit
{
   text-align:right;
   padding: 5px;
}
#submit button
{
  width:100px;
  height:40px;
  padding: 10px;
}
form{
  padding: 30px;
  width: 60%;
  height:100%;
  border-radius: 10px;
	font-size:25px;
	background-color: #ff8c0067;
	margin:auto;
	margin-top:20px;
}
button{
  background-color:  #ff8c00 ;
  color: white;
  height:50px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right:20px;
	border:0px;
}
.header{
	text-align:center;
	background-color:  #ff8c00 ;
}
button:hover {
  background-color: purple;
}

.heading{
  padding: 25px;
}

.container{
  background-color:#f3efbb;
  border-radius: 10px;
  text-align:center;
  margin: 30px auto;
 padding:30px;
}